
.slider {
  margin-top: 170px;
  width: 100%;
  overflow: hidden;
  z-index: 100;
  @include transform(translateZ(0));
  @include perspective(1000);
  @include backface-visibility(hidden);
  .animating{
    &--yes{
      @include transition(transform 0.6s);
    }
  }
  &__slides{
    white-space: nowrap;
    height: 100%;
  }
  &__pagination{
    text-align: center;
    &__item{
      background: $color-grey-light;
      display: inline-block;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      &--active{
        background: $color-primary;
      }
      &:not(:first-child){
        margin-left: $margin/2;
      }
    }
  }
  @include clearfix;
  .slide{
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    white-space: normal;
    opacity: .2;
    @include transition(opacity  1s)
    &--active{
      opacity: 1;
    }
    &__inner {
      padding: $padding;

    }
  }
}
